@import "./_mixins.scss";
@import "./_variables.scss";

.input-field {
  width: 100%;
  padding: 4px 10px;
  border: 1px solid grey;
  border-radius: 4px;
  @include font(12px, $fontFamilyPrimary, 400);

  &:focus {
    box-shadow: none;
    outline: none;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type="number"] {
    -moz-appearance: textfield;
  }
}
